{
    "extends": ["hasty", "plugin:prettier/recommended"],
    "env": {
        "jest": true
    },
    "parser": "babel-eslint",
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
}
